<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
    <%= stylesheet_link_tag :application %>
    <script type="text/javascript" src="http://bazingalabs.com//assets/themes/twitter/javascript/bootstrap-dropdown.js"></script>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
      <%= render :partial => 'shared/header' %>

 <div class="container">

      <div class="content">
        
      <div class="page-header">
        <h1>Store </h1>
      </div>

      <div class="row">
        <%# if content_for? :sidebar %>
        <!--<div class="span3">
          <%#= render :partial => 'spree/shared/sidebar' %>
        </div>-->
        <%# end %>
        <div class="span12">
          <%= yield %>

        </div>
        
      </div>


      </div>

      <footer>
        <p>&copy; Bazingalabs <%= Date.today.year %></p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>